.blogContainer {
  padding-top: 120px;
}
.mainContent {
  background-color: #ffffff;
  border-radius: 40px 40px 0px 0px;
  overflow: hidden;
  position: relative;
  color: black;
}
.gridContainer {
  display: grid;
  grid-template-columns: 175px auto;
  color: black;
}
.sidebar {
  padding-left: 15px;
  /* border: 1px solid red; */
}
.topText {
  display: flex;
  margin-top: 130px;
  margin-left: 160px;
}
.topText p {
  font-family: "Helvetica Now Display Medium", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  margin-left: 175px;
  margin-top: 45px;
  width: 119px;
}
.topText h1 {
  font-family: "Helvetica Now Display Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 85px;
  line-height: 100%;
}
/* .content {
  border: 1px solid green;
} */
@media only screen and (max-width: 40em) {
  .blogContainer {
    padding-top: 150px;
  }
  .topText {
    margin-top: 50px;
    margin-left: 18px;
    display: block;
  }
  .topText h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 90%;
    width: 270px;
  }
  .topText p {
    margin: 0;
    font-family: "Helvetica Now Display Medium", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-transform: none;
    width: 280px;
    margin-top: 17px;
  }
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .sidebar {
    padding: 0;
  }
  .content {
    padding: 0 16px;
  }
}
